<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Phone Order Pickup Suite">
  <test name="Phone Order Pickup ">
    <classes>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T094_Pickup_CustomerSection_PhoneNumberFieldLookup_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T174_OrderEntry_Pickup_ProductSection_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T143_Pickup_CustomerSection_TextMeUpdatesAndPromotion_Checked_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T137_Pickup_CustomerSection_Edit_Customer_CustomerDetails_Statements_MoreThanOneMonthCustomer_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T106_Pickup_CustomerSection_Edit_Customer_CustomerDetails_UnPaidInvoice_PaidAmount_Search_Filter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T149_Pickup_RecipientSection_ClearTime_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T113_Pickup_CustomerSection_Edit_Customer_CustomerDetails_UnPaidInvoice_OrderDate_Search_Filter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T154_Pickup_RecipientSection_FrequentAddress_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T110_Pickup_CustomerSection_Edit_Customer_CustomerDetails_UnPaidInvoice_Tax_Search_Filter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T120_Pickup_CustomerSection_Edit_Customer_CustomerDetails_PaymentDetails_InvoiceSearchFilter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T163_OrderEntry_Pickup_OrderDetailsSection_SendRemainderEmail_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T153_Pickup_RecipientSection_AttentionFieldLookup_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T127_Pickup_CustomerSection_Edit_Customer_CustomerDetails_PaymentDetails_Sorting_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T098_Pickup_CustomerSection_Edit_Customer_CustomerDetails_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T160_OrderEntry_Pickup_OrderDetailsSection_SendRemainderField_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T124_Pickup_CustomerSection_Edit_Customer_CustomerDetails_PaymentDetails_CheckNo_SearchFilter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T090_Pickup_CustomerSection_AddressLookup_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T162_OrderEntry_Pickup_OrderDetailsSection_SendRemainder_UnChecked_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T104_Pickup_CustomerSection_Edit_Customer_CustomerDetails_UnPaidInvoice_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T118_Pickup_CustomerSection_Edit_Customer_CustomerDetails_UnPaidInvoice_ExportToExcel_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T121_Pickup_CustomerSection_Edit_Customer_CustomerDetails_PaymentDetails_PaymentAmountSearchFilter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T103_Pickup_CustomerSection_Edit_Customer_CustomerDetails_Preferences_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T134_Pickup_CustomerSection_Edit_Customer_CustomerDetails_OrderDetails_OrderDateSearchFilter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T114_Pickup_CustomerSection_Edit_Customer_CustomerDetails_UnPaidInvoice_DeliveryDate_Search_Filter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T135_Pickup_CustomerSection_Edit_Customer_CustomerDetails_OrderDetails_DescriptionSearchFilter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T092_Pickup_CustomerSection_LastNameFieldLookup_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T133_Pickup_CustomerSection_Edit_Customer_CustomerDetails_OrderDetails_AddressSearchFilter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T105_Pickup_CustomerSection_Edit_Customer_CustomerDetails_UnPaidInvoice_Invoice_Search_Filter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T147_Pickup_RecipientSection_ExistingCustomerDetails_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T126_Pickup_CustomerSection_Edit_Customer_CustomerDetails_PaymentDetails_Pagination_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T119_Pickup_CustomerSection_Edit_Customer_CustomerDetails_PaymentDetails_ExportToExcel_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T152_Pickup_RecipientSection_AddressLookup_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T131_Pickup_CustomerSection_Edit_Customer_CustomerDetails_OrderDetails_StatusSearchFilter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T085_Pickup_CustomerSection_SearchExistingCustomer_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T161_OrderEntry_Pickup_OrderDetailsSection_SendRemainderChecked_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T148_Pickup_RecipientSection_NewCustomerDetails_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T107_Pickup_CustomerSection_Edit_Customer_CustomerDetails_UnPaidInvoice_BalanceAmt_Search_Filter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T081_Pickup_Functionality_with_Existing_customer_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T141_Pickup_CustomerSection_CustomerHistory_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T132_Pickup_CustomerSection_Edit_Customer_CustomerDetails_OrderDetails_NameSearchFilter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T129_Pickup_CustomerSection_Edit_Customer_CustomerDetails_OrderDetails_InvoiceSearchFilter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T093_Pickup_CustomerSection_CompanyNameFieldLookup_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T172_OrderEntry_Pickup_OrderDetailsSection_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T082_Pickup_Functionality_with_New_customer_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T170_OrderEntry_Pickup_OrderDetailsSection_ShortCode_Delete_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T156_OrderEntryPage_Pickup_RecipientSection_ZoneBasedDeliveryFee_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T146_Pickup_RecipientSection_WithExistingRecipientDetails_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T116_Pickup_CustomerSection_Edit_Customer_CustomerDetails_UnPaidInvoice_Pagination_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T125_Pickup_CustomerSection_Edit_Customer_CustomerDetails_PaymentDetails_CCNumber_SearchFilter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T112_Pickup_CustomerSection_Edit_Customer_CustomerDetails_UnPaidInvoice_Total_Search_Filter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T128_Pickup_CustomerSection_Edit_Customer_CustomerDetails_OrderDetails_ExportToExcel_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T158_Pickup_RecipientSection_SelectOptionMultipleSelect_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T109_Pickup_CustomerSection_Edit_Customer_CustomerDetails_UnPaidInvoice_Delivery_Search_Filter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T122_Pickup_CustomerSection_Edit_Customer_CustomerDetails_PaymentDetails_Pay_Date_Search_Filter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T167_OrderEntry_Pickup_OrderDetailsSection_ShortCode_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T123_Pickup_CustomerSection_Edit_Customer_CustomerDetails_PaymentDetails_MOPSearchFilter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T138_Pickup_CustomerSection_Edit_Customer_CustomerDetails_Statements_LessThanOneMonthCustomer_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T115_Pickup_CustomerSection_Edit_Customer_CustomerDetails_UnPaidInvoice_Sorting_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T117_Pickup_CustomerSection_Edit_Customer_CustomerDetails_UnPaidInvoice_ColumnReorder_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T101_Pickup_CustomerSection_Edit_Customer_CustomerDetails_CreditCard_AddNewCard_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T157_Pickup_RecipientSection_Confidential_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T108_Pickup_CustomerSection_Edit_Customer_CustomerDetails_UnPaidInvoice_ProductTotal_Search_Filter_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T151_Pickup_RecipientSection_ViewMap_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T155_OrderEntryPage_Pickup_RecipientSection_SaveFuneral_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T096_Pickup_CustomerSection_ClearCustomer_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T136_Pickup_CustomerSection_Edit_Customer_CustomerDetails_OrderDetails_Pagination_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T095_Pickup_CustomerSection_AltPhoneNumberFieldLookup_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T091_Pickup_CustomerSection_FirstNameFieldLookup_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T177_OrderEntry_Pickup_PaymentSection_GiftCardPayment_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T164_OrderEntry_Pickup_OrderDetailsSection_PrintTicket_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T144_Pickup_CustomerSection_TextMeUpdatesAndPromotion_UnChecked_FT"/>
      <class name="com.hanapos.OrderEntry_Alais_PickUp_PhoneOrderTest.Hana_T130_Pickup_CustomerSection_Edit_Customer_CustomerDetails_OrderDetails_TotalSearchFilter_FT"/>
    </classes>
  </test> <!-- Phone Order Pickup  -->
</suite> <!-- Phone Order Pickup Suite -->
